.collection-item {
  position: relative;

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }
}
